*~
*.zwc
*.zwc.old
.zcomp*
.zdirs
.zsh_history
.zsh_sessions/
.zshrc.local
.zprofile.local
.zshenv.local
.aliasrc.local
fzfrc.local
.env
.env.*
!.env.example

.gemini/
gha-creds-*.json
.zdots.secrets

# Ephemeral telemetry data
traces-collected.json
