{
  "alfredtheme" : {
    "result" : {
      "textSpacing" : 8,
      "subtext" : {
        "size" : 16,
        "colorSelected" : "#{{oniViolet}}A8",
        "font" : "System Light",
        "color" : "#{{fujiGray}}BF"
      },
      "shortcut" : {
        "size" : 32,
        "colorSelected" : "#{{springGreen}}FF",
        "font" : "System Bold",
        "color" : "#{{waveAqua2}}4C"
      },
      "backgroundSelected" : "#{{waveBlue2}}E4",
      "text" : {
        "size" : 40,
        "colorSelected" : "#{{fujiWhite}}FF",
        "font" : "System",
        "color" : "#{{fujiWhite}}7F"
      },
      "iconPaddingHorizontal" : 8,
      "roundness" : 0,
      "paddingVertical" : 8,
      "iconSize" : 88
    },
    "search" : {
      "backgroundSelected" : "#{{crystalBlue}}FF",
      "paddingHorizontal" : 8,
      "spacing" : 16,
      "text" : {
        "size" : 64,
        "colorSelected" : "#{{sumiInk0}}FF",
        "font" : "System Bold",
        "color" : "#{{fujiWhite}}FF"
      },
      "background" : "#{{sumiInk3}}3F",
      "roundness" : 0,
      "paddingVertical" : 0
    },
    "window" : {
      "color" : "#{{sumiInk3}}BF",
      "paddingHorizontal" : 16,
      "width" : 768,
      "borderPadding" : 0,
      "borderColor" : "#0000007F",
      "blur" : 0,
      "roundness" : -42,
      "paddingVertical" : 16
    },
    "credit" : "Mike Hall",
    "visualEffectMode" : 2,
    "separator" : {
      "color" : "#{{sumiInk6}}F3",
      "thickness" : 0
    },
    "scrollbar" : {
      "color" : "#{{sakuraPink}}FF",
      "thickness" : 8
    },
    "name" : "Kanagawa Wave Mike Mod"
  }
}
