<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Kanagawa Wave</string>
	<key>settings</key>
	<array>
		<dict>
			<key>settings</key>
			<dict>
				<key>background</key>
				<string>#{{sumiInk3}}</string>
				<key>foreground</key>
				<string>#{{fujiWhite}}</string>
				<key>caret</key>
				<string>#{{oldWhite}}</string>
				<key>selection</key>
				<string>#{{waveBlue2}}</string>
				<key>selectionForeground</key>
				<string>#{{fujiWhite}}</string>
				<key>lineHighlight</key>
				<string>#{{sumiInk4}}33</string>
				<key>invisibles</key>
				<string>#{{sumiInk6}}</string>
				<key>gutter</key>
				<string>#{{sumiInk3}}</string>
				<key>gutterForeground</key>
				<string>#{{sumiInk6}}</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Comment</string>
			<key>scope</key>
			<string>comment</string>
			<key>settings</key>
			<dict>
				<key>foreground</key>
				<string>#{{fujiGray}}</string>
				<key>fontStyle</key>
				<string>italic</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>String</string>
			<key>scope</key>
			<string>string, constant.other.symbol</string>
			<key>settings</key>
			<dict>
				<key>foreground</key>
				<string>#{{springGreen}}</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Number</string>
			<key>scope</key>
			<string>constant.numeric</string>
			<key>settings</key>
			<dict>
				<key>foreground</key>
				<string>#{{surimiOrange}}</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Constant</string>
			<key>scope</key>
			<string>constant.language, constant.character, support.constant</string>
			<key>settings</key>
			<dict>
				<key>foreground</key>
				<string>#{{surimiOrange}}</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Keyword</string>
			<key>scope</key>
			<string>keyword, storage.modifier</string>
			<key>settings</key>
			<dict>
				<key>foreground</key>
				<string>#{{oniViolet}}</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Operator</string>
			<key>scope</key>
			<string>keyword.operator</string>
			<key>settings</key>
			<dict>
				<key>foreground</key>
				<string>#{{boatYellow2}}</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Storage type</string>
			<key>scope</key>
			<string>storage.type</string>
			<key>settings</key>
			<dict>
				<key>foreground</key>
				<string>#{{waveAqua2}}</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Function</string>
			<key>scope</key>
			<string>entity.name.function, support.function, meta.function-call</string>
			<key>settings</key>
			<dict>
				<key>foreground</key>
				<string>#{{crystalBlue}}</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Type</string>
			<key>scope</key>
			<string>entity.name.type, entity.name.class, support.type, support.class</string>
			<key>settings</key>
			<dict>
				<key>foreground</key>
				<string>#{{waveAqua2}}</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Tag</string>
			<key>scope</key>
			<string>entity.name.tag</string>
			<key>settings</key>
			<dict>
				<key>foreground</key>
				<string>#{{springBlue}}</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Attribute</string>
			<key>scope</key>
			<string>entity.other.attribute-name</string>
			<key>settings</key>
			<dict>
				<key>foreground</key>
				<string>#{{waveAqua2}}</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Variable</string>
			<key>scope</key>
			<string>variable, variable.parameter, meta.definition.variable</string>
			<key>settings</key>
			<dict>
				<key>foreground</key>
				<string>#{{fujiWhite}}</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Punctuation</string>
			<key>scope</key>
			<string>punctuation, meta.brace, meta.delimiter</string>
			<key>settings</key>
			<dict>
				<key>foreground</key>
				<string>#{{springViolet2}}</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Heading</string>
			<key>scope</key>
			<string>markup.heading</string>
			<key>settings</key>
			<dict>
				<key>foreground</key>
				<string>#{{crystalBlue}}</string>
				<key>fontStyle</key>
				<string>bold</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Invalid</string>
			<key>scope</key>
			<string>invalid, invalid.illegal</string>
			<key>settings</key>
			<dict>
				<key>foreground</key>
				<string>#{{fujiWhite}}</string>
				<key>background</key>
				<string>#{{samuraiRed}}</string>
			</dict>
		</dict>
	</array>
	<key>uuid</key>
	<string>7e9cd8a0-1a1b-2f00-b0a3-6ec384000000</string>
</dict>
</plist>
